@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Worksans-Thin";
  src: url(../fonts/Worksans/WorkSans-Thin.ttf);
}

@font-face {
  font-family: "Worksans-Light";
  src: url(../fonts/Worksans/WorkSans-Light.ttf);
}

@font-face {
  font-family: "Worksans-Regular";
  src: url(../fonts/Worksans/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "Worksans-Medium";
  src: url(../fonts/Worksans/WorkSans-Medium.ttf);
}

@font-face {
  font-family: "Worksans-SemiBold";
  src: url(../fonts/Worksans/WorkSans-SemiBold.ttf);
}

@font-face {
  font-family: "Worksans-Bold";
  src: url(../fonts/Worksans/WorkSans-Bold.ttf);
}

@font-face {
  font-family: "Worksans-ExtraBold";
  src: url(../fonts/Worksans/WorkSans-ExtraBold.ttf);
}

@font-face {
  font-family: "Worksans-Black";
  src: url(../fonts/Worksans/WorkSans-Black.ttf);
}

body {
  @apply max-w-[1920px] mx-auto font-Worksans-Regular;
}

.dark {
  @apply bg-dark-10 text-white;
}

.light {
  @apply bg-[#F7F7F8] text-dark-10;
}

.button.primary {
  @apply bg-prime-10 text-white  shadow-lg duration-150 hover:bg-opacity-90 rounded-lg active:scale-95;
}

.submit-button {
  @apply w-full h-10 duration-150 active:scale-95 mt-4 rounded-lg text-white bg-prime-10;
}

.submit-button.is-loading {
  @apply bg-prime-30  active:scale-100 hover:bg-prime-15 cursor-not-allowed;
}

.error {
  @apply text-red-500 p-1 text-sm;
}

.caption {
  @apply text-sm dark:text-dark-60 text-dark-30;
}

.caption-card {
  @apply p-5 bg-white rounded-lg shadow-md dark:bg-dark-15;
}

form input {
  @apply w-full h-12 rounded-md  outline-none my-2 px-6 bg-[#FCFCFD] border dark:border-white/10 shadow-sm dark:bg-dark-20 placeholder:text-sm pb-1;
}

.hero-title {
  @apply mx-auto w-full shadow-sm py-3 flex-col sm:flex-row  justify-start md:justify-center font-Worksans-Medium rounded-md bg-white dark:bg-dark-15 items-center flex gap-4 max-w-max px-10;
}

.unlock-icon {
  @apply w-12 h-12 sm:w-14 sm:h-14 dark:bg-dark-20 shadow-sm  border dark:border-white/5 border-prime-10/20 select-none pb-1 flex items-center justify-center rounded-md text-prime-10 bg-prime-50;
}

.between {
  @apply flex items-center justify-between;
}

form label {
  font-size: small;
}

.form {
  @apply p-5 justify-center py-10 bg-white child:w-full  rounded-md flex-col gap-4 shadow-sm flex items-center w-1/2 dark:bg-dark-15;
}
