@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Worksans-Thin";
  src: url(../fonts/Worksans/WorkSans-Thin.ttf);
}

@font-face {
  font-family: "Worksans-Light";
  src: url(../fonts/Worksans/WorkSans-Light.ttf);
}

@font-face {
  font-family: "Worksans-Regular";
  src: url(../fonts/Worksans/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "Worksans-Medium";
  src: url(../fonts/Worksans/WorkSans-Medium.ttf);
}

@font-face {
  font-family: "Worksans-SemiBold";
  src: url(../fonts/Worksans/WorkSans-SemiBold.ttf);
}

@font-face {
  font-family: "Worksans-Bold";
  src: url(../fonts/Worksans/WorkSans-Bold.ttf);
}

@font-face {
  font-family: "Worksans-ExtraBold";
  src: url(../fonts/Worksans/WorkSans-ExtraBold.ttf);
}

@font-face {
  font-family: "Worksans-Black";
  src: url(../fonts/Worksans/WorkSans-Black.ttf);
}

body {
  @apply max-w-[1920px] mx-auto font-Worksans-Regular;
}

.dark {
  @apply bg-dark-10 text-white;
}

.light {
  @apply bg-[#F7F7F8] text-dark-10;
}

.button.primary {
  @apply px-5 py-3.5 bg-prime-10 text-white  shadow-lg duration-150 hover:bg-opacity-90 rounded-lg;
}
